@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
  font-family: 'Kumbh Sans', sans-serif;
}

body{
    background-image: linear-gradient(180deg, hsl(273, 75%, 66%), 
    hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    min-height: 100vh; display: grid; place-items: center;
    overflow-y: visible;
}

@media only screen and (max-width: 500px) {
  body{
    padding-top: 30%;
  }
}

.button-div{
  text-align: center;
}

.install-button{
  color: white;
  background-image: linear-gradient(180deg, hsl(273, 75%, 66%), 
  hsl(240, 73%, 65%));
}

.install-button:hover{
  background-image: linear-gradient(180deg, hsl(273, 62%, 80%), 
  hsl(240, 68%, 73%));
}

.attribution { font-size: 11px; text-align: center; clear: right;}
.attribution a { color:orange; }
.attribution a:hover{ color:rgb(227, 203, 162); font-weight: bold;}

.contentDiv{
    background-color: white;
    display: inline-flex;
    flex-wrap: wrap;
    width: 970px;
    padding-right: 50px;
}

@media only screen and (max-width: 1100px){
  .contentDiv{
    width: 900px;
  }
}

@media only screen and (max-width: 1000px){
  .contentDiv{
    width: 800px;
  }
}

@media only screen and (max-width: 900px){
  .contentDiv{
    width: 770px;
  }
}

@media only screen and (max-width: 860px){
  .contentDiv{
    display: grid;
    width: 340px;
  }
}

@media only screen and (max-width: 500px) {
  .contentDiv{
 padding-right: 20px;
  }
}

/*PICTURE DIV*/

.picturesDiv{
  flex: 50%;
  padding-right: 50px;
  overflow-x: visible;
  overflow-y: clip;
}

@media only screen and (max-width: 1100px) {
  .picturesDiv{
    padding-right: 0px;
  }
}

@media only screen and (max-width: 500px) {
  .picturesDiv{
 text-align: center;
 overflow-y: visible;
 padding-left: 3px;
  }
}

.pictureDiv{
  background-image: url(images/bgPatternDesktop.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right;
  position: relative;
  padding-top: 180px;
  height: 625px;
  overflow-x: visible;
  margin-top: -120px;
}

@media only screen and (max-width: 500px) {
  .pictureDiv{
    background-image: url(images/bgPatternMobile.svg);
    height: 105px;
    margin-top: 0%;
    padding-top: 0;
    background-position: center;
    overflow-y: visible;
  }
}

.womanPic{
  background-image: url(images/illustration-woman-online-desktop.svg);
  background-repeat: none;
  background-position: right;
  position: absolute;
  width: 400px;
  background-size: cover;
  height: 365px;
  overflow-x: visible;
  left: 0%;
}

@media only screen and (max-width: 500px) {
  .womanPic{
    background-image: url(images/illustrationWomanOnlineMobile.svg);
    background-position: center;
    position: absolute;
    background-size: cover;
    width: 230px;
    background-repeat: no-repeat;
    height: 175px;
    left: 13%;
    top: -100%;
  }
}

.box{
  background-image: url(images/illustrationBoxDesktop.svg);
  background-repeat: no-repeat;
  position: relative;
  background-position: bottom;
  height: 187px;
  width: 100px;
  position: absolute;
  top: 38%;
  left: -11%;
  z-index: 4;
}

@media only screen and (max-width: 500px) {
  .box{
   display: none;
  }
}


.faqHeader{
  font-weight: 700;
  color: hsl(238, 29%, 16%);
  padding-top: 15px;
}

@media only screen and (max-width: 500px) {
  .faqHeader{
    text-align: center;
    padding-top: 0;
  }
}

@media only screen and (max-width: 860px){
  .faqHeader{
    text-align: center;
  }
}

.faqDiv{
  flex: 50%;
  padding-right: 40px;
  padding-left: 35px;
  padding-bottom: 15px;
  padding-top: 50px;
}

@media only screen and (max-width: 1100px) {
  .faqDiv{
    padding-right: 0px;
  }
}

@media only screen and (max-width: 500px) {
  .faqDiv {
   padding-left: 20px;
   padding-bottom: 3px;
   padding-top: 30px;
  }
}

.faqs {
    width: 100%;
    margin: 0 auto;
  }
  
  .faqs .faq {
    border-bottom: 1px solid hsl(240, 5%, 91%);
  }
  
  .faqs .faq .faq-question {
    position: relative;
    font-size: 14px;
    font-weight: 400;
    color: hsl(238, 29%, 16%);
    cursor: pointer;
  }
  
  .faqs .faq .faq-question::after {
    content: url(images/icon-arrow-down.svg);
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    width: 30px;
    height: 20px;
    max-height: 20px;
    cursor: pointer;
  }

  @media only screen and (max-width: 500px) {
    .faqs .faq .faq-question::after {
      width: 12px;
    }
  }
  
  .faqs .faq .faq-answer {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
  }
  
  .faqs .faq.open .faq-question {
    padding-top: 0%;
    font-weight: 700;
  }
  
  .faqs .faq.open .faq-question::after{
    transform: scaleY(-1);
    margin-top: -7px;
  }
  
  .faq.open .faq-answer {
    max-height: 1000px;
    font-size: 12px;
    font-weight: 400;
    color: hsl(240, 6%, 50%);
    opacity: 1;
    margin-top: -5px;
    padding-bottom: 15px;
    width: 300px;
  }
  